<h1>New User</h1>

<%= form_for(@user) do |f| %>
      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :latitude%>
      <%= f.text_field :latitude, value: request.location.latitude%>

      <%= f.label :longitude %>
      <%= f.text_field :longitude, value: request.location.longitude %>
      <br>
      <%= f.submit "Get Notifications", class: "btn btn-primary" %>
    <% end %>

<%#= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
